/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgb(27, 26, 26);
  background: #282c34;
  width: 500px;
  min-height: 200px;
  font-size: 1.2rem;
  padding: 10px;
  z-index: 10;
  color: rgb(221, 17, 27);
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #7b8fa1;
  opacity: 0.5;
  z-index: 9;
}
.modal button {
  width: 40%;
  margin: 1rem 0;
  border-radius: 5px;
  background: #282c34;
  color: #61dafb;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 2px;
}
.modal button:hover {
  cursor: pointer;
  background: #434956;
}
@media (min-width: 768px) {
  .modal button {
    width: auto;
  }
} */
/*  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgb(123, 143, 161, 0.5);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #4f005f;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
